

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CRS </title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css"/>
</head>
<body>

<div class="div1">
    <p> Crop Recommendation System </p>
</div>
<div id="div2">
<ul><li>
 <a href="{{ url_for('home')}}"> HOME </a> </li>
<li> <a href="{{ url_for('about')}}"> ABOUT </a> </li></ul>
</div>
<div class="div3">
    <img src="d11.jpg"/>
    <ul><li>
 <a href="{{ url_for('cr')}}"> CROP RECOMENDER </a> </li></ul>
</div>
<div id="div4">
<p>@Copyrights</p>
</div>
</body>
</html>